.cardlist {
  padding: 70px 0 23px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  column-gap: 30px;
  row-gap: 58px;
}

@media screen and (max-width: 1024px) {
  .cardlist {
    row-gap: 45px;
    grid-template-columns: repeat(auto-fill, 339px);
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 625px) {
  .cardlist {
    padding-top: 40px;
    row-gap: 36px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

.movies__btn {
  width: 100%;
  margin: 50px 0 80px;
  border: none;
  border-radius: 6px;
  background: #2f2f2f;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
  cursor: pointer;
}

