.searchform {
  margin-bottom: 47px;
}

.searchform__unit:focus-within {
  border-bottom: 1px solid #4285f4;
}

@media screen and (max-width: 1100px) {
  .searchform {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 625px) {
  .searchform {
    margin-bottom: 50px;
  }
}

.searchform__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 13px;
  margin-bottom: 32px;
}

@media screen and (max-width: 1100px) {
  .searchform__unit {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 625px) {
  .searchform__unit {
    padding-bottom: 9px;
    margin-bottom: 40px;
  }
}

.searchform__field {
  font-weight: 500;
  font-size: 28px;
  border: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 625px) {
  .searchform__field {
    font-size: 18px;
    line-height: 22px;
  }
}
.searchform__input {
  background: none;
  border: none;
  width: 100%;
  outline: none;
  color: #ffffff;
}
@media screen and (max-width: 625px) {
  .searchform__input {
    padding: 0;
    max-width: 212px;
  }
}

.searchform__btn {
  width: 58.65px;
  height: 34px;
  background: #4285f4;
  border: none;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}


