.portfolio {
  margin: 0 70px 106px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 0 0 50px;
  letter-spacing: -4%;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #424242;
  padding-bottom: 9px;
  margin: 0 0 20px;
}

.portfolio__item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.portfolio__item__title {
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  letter-spacing: -0.04em;
}

.portfolio__item__link {
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .portfolio {
    margin: 0 50px 71px;
  }

  .portfolio__item {
    border-bottom: 1px solid #e6e6e6;
  }

  .portfolio__item__title {
    font-size: 28px;
  }

  .portfolio__item__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 625px) {
  .portfolio {
    margin: 0 14px 52px;
  }
  .portfolio__item {
    padding-bottom: 18px;
    margin-bottom: 22px;
  }

  .portfolio__title {
    font-size: 14px;
    margin: 0 0 41px;
  }

  .portfolio__item__title {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__item__link {
    font-size: 18px;
    line-height: 28px;
  }
}
