.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }

  .popup__info {
    width: 430px;
    background-color: #202020;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 36px;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .popup__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    color: #ffffff;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .popup__title {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../src/images/Х.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    padding: 0;
    top: -40px;
    right: -40px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  
  .popup__close:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 600px) {
    .popup__close {
      width: 20px;
      height: 20px;
      top: -38px;
      right: 0;
      border: 0;
      background-size: contain;
    }
  }
  

  .alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }
  
  .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  .info {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #999;
  }
  
  .success {
    background-color: #EFE;
    border: 1px solid #DED;
    color: #9A9;
  }
  
  .notice {
    background-color: #EFF;
    border: 1px solid #DEE;
    color: #9AA;
  }
  
  .warning {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
  }
  
  .error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
  }