/* * {
  outline: 1px solid #ff3300;
} */

@import url("./vendor/normalize.css");
@import url("./vendor/fonts/font.css");
@import url("./components/App/App.css");
@import url("./components/Header/HeaderProfile/HeaderProfile.css");
@import url("./components/Navigation/Navigation.css");
@import url("./components/Main/Promo/Promo.css");
@import url("./components/Main/AboutMe/AboutMe.css");
@import url("./components/Main/AboutProject/AboutProject.css");
@import url("./components/Main/Main.css");
@import url("./components/Main/NavTab/NavTab.css");
@import url("./components/Main/Portfolio/Portfolio.css");
@import url("./components/Main/Techs/Techs.css");

.btn{
  opacity: 1;
}

.btn:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}